github "Internetslum/PureXML" ~> 1.1
github "Internetslum/SASLKit" ~> 1.0
github "Internetslum/XMPPFoundation" ~> 1.1
github "CocoaLumberjack/CocoaLumberjack" ~> 2.2.0
github "anagromataf/SocketRocket" "master"
