git "ssh://git@garage.tobias-kraentzer.de/diffusion/1/purexml.git" "develop"
git "git@github.com:anagromataf/SocketRocket.git" "master"
git "https://github.com/CocoaLumberjack/CocoaLumberjack.git" ~> 2.2.0
